*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.content{

}

.tittle{

}

.tittle__h1-mobile{
    display:block;

}

.tittle__h1-tablet{
    display:none;

}

.tittle__h1-desktop{
    display:none;

}
.picture{

}
.picture__img{

}

/*media para tablet*/

@media screen and (min-width:768px) and (max-width:1024px) {
    .tittle__h1-mobile{
        display:none;
    
    }
    
    .tittle__h1-tablet{
        display:block;
    
    }
    
    .tittle__h1-desktop{
        display:none;
    
    } 
  
}
/*media para desktop*/
@media screen and (min-width:1024px) {
    .tittle__h1-mobile{
        display:none;
    
    }
    
    .tittle__h1-tablet{
        display:none;
    
    }
    
    .tittle__h1-desktop{
        display:block;
    
    }
    
}
